<ion-header>
  <ion-navbar color='primary'>
    <ion-title>
      Pay
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>

  <ion-item class="item">
    <ion-label fixed>Amount</ion-label>
    <ion-input type="number" [(ngModel)]="amount"></ion-input>
  </ion-item>


</ion-list>
  <img [src]="URL" class="myImage" *ngIf="showFlag==false"/>
   <ion-icon name="camera" class="camera" (click)="openImageUploadOption()" *ngIf="showFlag==true"></ion-icon>
   <ion-label class="cameratag" *ngIf="showFlag==true">Tap to start Scanning</ion-label>
</ion-content>

<ion-footer>
  <button ion-button round class="btnreset" *ngIf="showFlag==false" (click)="openImageUploadOption()">Retake</button>
  <button ion-button round class="btnnext" *ngIf="enableNext==true" (click)="payToPersons()">Next</button>
</ion-footer>
